.calendarDayContainer {
  width: 14%;
  border: 1px solid lightgray;
  // min-height: 80px;
  position: relative;
  cursor: pointer;
}

.calendarNum {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  margin: 0;
  left: 10%;
  top: 5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calanderActiveDate {
  background-color: palegoldenrod;
}
.dayDataList {
  // margin-top: 45%;
  padding: 0;
  font-size: 12px;
  font-weight: 100;
}

.dayDataItem {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  justify-self: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.passedDate {
  background-color: lightgrey;
}