.calendarDayContainer {
  width: 14%;
  border: 1px solid lightgray;
  min-height: 10vh;
  position: relative;
  cursor: pointer;
}

.calendarNum {
  font-size: 2vh;
  font-weight: 500;
  position: relative;
  margin: 0;
  left: 10%;
  top: 5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendarpassedDate {
  background-color: rgb(224, 224, 224);
  font-size: 18px;
  font-weight: 200;
  color: gray;
}

.calendarActiveDate {
  background-color: palegoldenrod;
}

.dayDataList {
  // margin-top: 45%;
  position: relative;
  padding: 0;
  font-size: 12px;
  font-weight: 100;
}

.dayDataItem {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  justify-self: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.passedDate {
  background-color: lightgrey;
}

.draggedDays {
  border-color: #BE3FD188;
  border-width: 1px;
  background-color: #BE3FD110;
}