.authTemplateBlock {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.whiteBox {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.025);
    padding: 2rem;
    width: 360px;
    background: white;
    border-radius: 2px;
}

.formTitle {
    margin: 0;
    color: #343a40;
    margin-bottom: 1rem;
    display: block;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.inputAuth {
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #abd5bd;
    padding-bottom: 0.5rem;
    outline: none;
    width: 100%;
    margin-top: 1rem;
}

.inputAuth:focus {
    // color
    border-bottom: 1px solid #495057;
    // margin-top: 1rem;
}

.inputNeedCheck .inputAuth {
    width: 78%;
    margin-right: 0.5rem;
}

.btnSubmit {
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 0.25rem 1rem;
    color: white;
    outline: none;
    cursor: pointer;
    background: #22b8cf;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    font-size: 1.125rem;
    margin-top: 1rem;
}

.btnSubmit:hover {
    background: #3bc9db;
}

.btnCheck {
    border: none;
    border-radius: 2px;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.25rem 1rem;
    color: white;
    outline: none;
    background: #22b8cf;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

.btnCheck:hover {
    background: #3bc9db;
}

.authFooter {
    margin-top: 2rem;
    text-align: right;
}

.authFooter a {
    color: #868e96;
    text-decoration: underline;
}

.authFooter a:hover {
    color: #212529;
}

.errorMsg {
    color: red;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 1rem;
}

.checkMsg {
    color: #343a40;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.categoryBlock {
    margin-top: 1rem;
    background: #e9ecef44;
    padding: 0.25rem 1rem;
}

.categoryTitle {
    margin: 0;
    color: #343a40;
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

.infoHeader {
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

.infoHeader a {
    color: #868e96;
    text-decoration: underline;
}

.infoHeader a:hover {
    color: #212529;
}

.categoryBox {
    height: 275px;
    overflow-y: scroll;
}

.categoryItemBox {
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid #868e9644;
}

.subCategoryItemBox {
    // display: none;
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid #868e9644;
    font-size: 0.75rem;
}

.categoryBox::-webkit-scrollbar { width: 5.2px; } /* 스크롤 바 */
.categoryBox::-webkit-scrollbar-track { background-color:white; } /* 스크롤 바 밑의 배경 */
.categoryBox::-webkit-scrollbar-thumb { background: #868e9644; } /* 실질적 스크롤 바 */
.categoryBox::-webkit-scrollbar-thumb:hover { background: #212529; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
.categoryBox::-webkit-scrollbar-thumb:active { background: #212529; } /* 실질적 스크롤 바를 클릭할 때 */
.categoryBox::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */