.RepresentCalendar {
  // margin-bottom: 7vh;
}

.requestCalendar {
  border: 5px double rgba(3, 102, 11, 0.329);
  width: 80%;
  height: 30vh;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  vertical-align: middle;
  padding: 100px 0px;
}

.addCalendar {
  position: fixed;
  margin-left: -9vw;
  // margin-top: 0.5rem;
  z-index: 100;
}

.userImg {
  height: 150px;
  width: 150px;
  border-radius: 80px;
  margin-right: 30px;
  margin-bottom: 1vh;
}
.userInfo {
  display: inline-block;
  vertical-align: middle;
}
.userName {
  display: block;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 1vh;
}
.userEmail {
  display: block;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 1vh;
}
.userCategory1 {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  color: white;
  padding: 5px 7px;
  border-radius: 0.5vh;
  margin-bottom: 1vh;
}
.userCategory2 {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: #3f3f48;
  padding: 5px 7px;
  border-radius: 0.5vh;
  margin: 0 0.5vh 0.5vh 0;
//   opacity: 70%;
}
.headerOp {
  margin-bottom: 44px;
}
.felx-basis-div {
  display: inline-block;
  margin-right: 30px;
}
