.RepresentCalendar {
    // margin-bottom: 7vh;
}

.requestCalendar {
    border: 5px double rgba(3, 102, 11, 0.329);
    width: 80%;
    height: 30vh;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    vertical-align: middle;
    padding: 100px 0px;
}

.addCalendar {
    display: inline;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    position: fixed;
    z-index: 100;
}

.fakeDiv {
    height: 20px;
}