.studyLog {
  // width: 700px;
  // height: 96px;
}

.weeklyStudyLog {
  display: inline-block;
  width: 12px;
  height: 96px;
  margin-right: 4px;
}

.dailyStudyLog {
  display: flexbox;
  width: 12px;
  height: 12px;
  font-size: 0px;
  margin-bottom: 4px;
  // border: 1px black solid;
}