.navBar {
    justify-content: space-between;
    background-color: rgb(11, 66, 23);
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    top: 0;
    position: fixed;
    z-index: 1000;
    input:focus {outline:none;}
    
    input {
        background-image: url('../../../img/search.png');
        padding-left: 10px;
        background-position: 95%;
        background-size: 20px;
        background-repeat: no-repeat;
    }    
}

.inputAndFakeDiv {
    position: relative;
    display: inline-block;
}
.fakeClickDiv {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 3px;
    right: 5px;
}


.toggle {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.menu {
    color: whitesmoke;
    display: inline-block;
    margin: 0.5rem;
}

.userImg {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 0.25rem;
}

.searchImg {
   width: 15px; 
}

input.search {
    border: none;
    border-radius: 6px;
    box-shadow: none;
    background-color: white;
    opacity: 0.5;
}