.navBar {
  display: block;
  width: 100%;
  height: 55px;
  margin-bottom: 1rem;
  top: 0;
  position: fixed;
  z-index: 1000;
  border-bottom: 0.5px solid #8dab9f;

  .viewOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 55px;
    margin: 0 auto;
  }

  .leftComponent {
    display: flex;
    align-items: center;
    justify-content: center;

    .scheduleSearch {
      display: inline-block;
      background-color: white;
      opacity: 0.5;
      border-radius: 1vh;
      // border: none;
      padding: 1px 5px;

      .lg-searchInput {
        width: 120px;
        font-size: 13px;
        border: none;
      }

      .sm-searchInput {
        width: 100px;
        font-size: 13px;
        border: none;
      }


      .xs-button {
        display: inline-block;
        font-size: 11px;
        font-weight: 500;
        color: white;
        // padding: 5px 7px;
        border-radius: 6px;
      }
    }

    .lg-logo {
      position: relative;
      margin: 0 10px 0 0;
      padding: 1px;
      width: 97px;
      height: 26px;
      background-image: url('../../../img/10번로고.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .sm-logo {
      position: relative;
      margin: 0 5px 0 0;
      padding: 1px;
      width: 80px;
      height: 20px;
      background-image: url('../../../img/10번로고.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .menuBtn {
    width: 55px;
  }

  .menuImg {
    width: 55px;
    top: 50%;
  }

  .menuBox {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
  }

  .toggle {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .lg-menu {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
    color: whitesmoke;
  }

  .sm-menu {
    // background-color: rgb(11, 66, 23);
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: whitesmoke;
  }

  .img-menu {
    height: 50px;
    line-height: 50px;
  }

  .userImg {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
}
