.navBar {
  display: block;
  width: 100%;
  height: 55px;
  margin-bottom: 1rem;
  top: 0;
  position: fixed;
  z-index: 1000;

  .viewOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 55px;
    margin: 0 auto;
  }

  .leftComponent {
    display: flex;
    align-items: center;
    justify-content: center;

    .scheduleSearch {
      display: inline-block;
      background-color: white;
      opacity: 0.5;
      border-radius: 1vh;
      // border: none;
      padding: 1px 5px;

      .searchInput {
        width: 120px;
        font-size: 13px;
        border: none;
      }

      .xs-button {
        display: inline-block;
        font-size: 11px;
        font-weight: 500;
        color: white;
        // padding: 5px 7px;
        border-radius: 6px;
      }
    }

    .logo {
      position: relative;
      font-size: 25px;
      font-weight: 500;
      margin: 0 10px;
      color: whitesmoke;
    }
  }

  .menuBtn {
    width: 55px;
  }

  .menuImg {
    width: 55px;
    top: 50%;
  }

  .menuBox {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
  }

  .toggle {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .lg-menu {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
    color: whitesmoke;
  }

  .sm-menu {
    // background-color: rgb(11, 66, 23);
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: whitesmoke;
  }

  .img-menu {
    height: 50px;
    line-height: 50px;
  }

  .userImg {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
}
