.navBar {
    display: block;
    background-color: rgb(11, 66, 23);
    width: 100%;
    height: 55px;
    margin-bottom: 1rem;
    top: 0;
    position: fixed;
    z-index: 1000;
    input:focus {outline:none;}

    .viewOption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: 55px;
        margin: 0 auto;
    }
        input {
            background-image: url('../../../img/search.png');
            padding-left: 10px;
            background-position: 95%;
            background-size: 20px;
            background-repeat: no-repeat;
        }    
        .titleSearchInput {
            display: flex;
            align-items: center;
            justify-content: center;
                .logo {
                    position: relative;
                    font-size: 25px;
                    font-weight: 600;
                    margin: 0 10px;
                }
        }
        .inputAndFakeDiv {
            position: relative;
            display: inline-block;
        }
        .fakeClickDiv {
            position: absolute;
            // border: 1px solid black;
            width: 30px;
            height: 25px;
            top: 3px;
            right: 5px;
        }
        
        .menuBtn {
            width: 50px;
            height: 40px;
        }
    
        .menuImg {
            width: 60px;
            top: 50%;
        }

        .menuBox {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: 0;
        }
        
        .toggle {
            display: block;
            text-align: center;
            margin: 0 auto;
        }

        .lg-menu {
            display: inline-block;
            text-align: center;
            margin-left: 20px;
            height: 50px;
            line-height: 50px;
        }
        
        .sm-menu {
            background-color: rgb(11, 66, 23);
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
        }
        
        .userImg {
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }
        
        .searchImg {
            width: 15px; 
            }
        
        input.search {
            border: none;
            border-radius: 6px;
            box-shadow: none;
            background-color: white;
            opacity: 0.5;
        }
}

