.navBar {
    justify-content: space-between;
    background-color: rgb(169, 169, 169);
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    top: 0;
    position: fixed;
    z-index: 1000;
}

.toggle {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.left {
    display: inline-block;
    background-color: darkolivegreen;
}

.right {
    display: inline-block;
    background-color: darkslateblue;
}

.menu {
    display: inline-block;
    margin: 0.5rem;
}

.userImg {
    height: 40px;
    border-radius: 20px;
    margin: 0;
}

.search {
    
}