.arrowBtn {
	cursor: pointer;
	text-align: center;
	background-color: white;
	border-radius: 100px;
	width: 3vh;
	height: 3vh;
	margin: 0 4px;
	padding: auto 0;
	font-weight: 700;
}

.arrowImg {
	display: inline-block;
	width: 1vh;
	height: 1vh;
	margin-top: 0.3vh;
	margin-left: 0.1vh;
}

.monthString {
	display: inline-block;
	height: 3vh;
	line-height: 3vh;
}

///// Overview Calendar /////

.calendarNavi-overview {
	display: flex;
    justify-content: center;
    height: 3vh;
    margin-bottom: 1vh;
}

.monthString-overview {
	display: inline-block;
	height: 3vh;
	line-height: 3vh;
	font-size: x-small;
}

.arrowBtn-overview {
	cursor: pointer;
	text-align: center;
	background-color: white;
	border-radius: 100px;
	width: 2vh;
	height: 2vh;
	margin: 2px 2px;
	padding: auto 0;
}