.calendarContainer {
  // display: flex;
  // justify-content: ;
  padding: 0;
  margin: 4vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendarNavi {
  display: flex;
  justify-content: center ;
}

.header {
  display: flex;
  justify-content: center;
}

.calendarTitle {
  display: inline-flex;
  justify-content: center;
  // text-align: center;
  font-size: 4vw;
  background-color: saturate($color: #ebf394, $amount: 100);
}

.monthTitle {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}