.calendarContainer {
  // display: flex;
  // justify-content: ;
  padding: 0;
  margin: 0 4vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendarNavi {
  display: flex;
  justify-content: center ;
}

.calendarHeader {
  display: inline-block;
}

// .header {

// }

.headerBorder {
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 4px;
  padding: 15px;
  padding-bottom: 10px;
  // padding-top: 0;
  margin-bottom: 10px;
}

.hashTagItem {
  // position: absolute;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  background-color: rgb(13, 163, 93);
  color: white;
  border: solid rgb(13, 163, 93);
  margin: 1px;
  padding: 1px;
  border-radius: 6px;
}

.inputTag {
  font-size: 15px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 1rem;
  margin-left: 1rem;
  // margin-top: 0.5rem;
}

// .calendarHeaderMenu {

// }

.calendarHeaderButton {
  // display: inline-block;
  margin: 0 0.5vw;
  color: red;
}

.calendarTitle {
  display: inline-block;
  // float: left;
  // justify-content: center;
  // text-align: center;
  font-size: 20px;
  // background-color: saturate($color: #ebf394, $amount: 100);
}

.calendarOption {
  display: inline-block;
  position: absolute;
}

.monthTitle {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pointerNone {
  pointer-events: none;
}

.pointerInherit {
  pointer-events: inherit;
}

.editImg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.trashCan {
  width: 20px;
  margin-right: 0;
}

.lockImg {
  width: 20px;
  margin-right: 0;
}

.row {
  margin-left: 0;
  justify-content: space-between;
}

.alingLeft {
  position: absolute;
  bottom: 0;
}

.alignRight {
  position: absolute;
  right: 0;
  bottom: 0;
}