.calendarContainer {
  background-color: whitesmoke;
  // padding: 10px;
  margin: 0 10vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendarNavi {
  display: flex;
  justify-content: center ;
  margin-top: 1rem;
}

.calendarHeader {
  display: inline;
}

.headerBorder {
  // position: relative;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 4px;
  padding: 15px;
  padding-bottom: 10px;
  // padding-top: 0;
  margin-bottom: 10px;
}

.hashTagItem {
  // position: absolute;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  background-color: rgb(13, 163, 93);
  color: white;
  border: solid rgb(13, 163, 93);
  margin: 1px 3px 1px 1px;
  margin-top: 0;
  padding: 1px;
  border-radius: 6px;
  margin-right: 0.6rem;
}

.inputTitle {
  // font-size: 15px;
  width: 50%;
  border-bottom: 1px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 1rem;
}

.inputTag {
  width: 120px;
  font-size: 15px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
}

.calendarHeaderButton {
  margin: 0 0.5vw;
}

.calendarTitle {
  position: relative;
  display: inline-block;
  font-size: 30px;
}

.monthTitle {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pointerNone {
  pointer-events: none;
}

.pointerInherit {
  pointer-events: inherit;
}

.editIcon {
  display: inline-block;
  width: 14px;
}

.trashCan {
  width: 20px;
  margin-right: 0;
}

.lockImg {
  width: 20px;
  margin-right: 0;
}

.row {
  margin-left: 0;
  justify-content: space-between;
}

.alingLeft {
  position: absolute;
  display: inline-block;
  // width: 100%;
  // border: 1px solid palegreen;
}

.alignRight {
  display: inline-block;
  float: right;
  margin-top: 0.3rem;
}

.calendarOption {
  display: inline;
}

.closeIcon {
  display: inline-block;
  margin-left: 2px;
  width: 10px;
  background-color: rgb(13, 163, 93);
}

.xsButton {
  font-size: x-small;
}

// .check {
//   font-size: 15px;
//   border: 1px solid green;
//   border-radius: 10px;
//   padding: 2px;
// }