.calendarDayContainer {
  border: 0.5px solid rgb(233, 233, 233);
  border-left: white;
  border-right:white;
  min-height: 10vh;
  position: relative;
  cursor: pointer;
}

.calendarNum {
  display: inline-block;
  font-size: 2vh;
  font-weight: 500;
  position: relative;
  margin: 0;
  left: 10%;
  top: 5%;
}

.calendarpassedDate {
  background-color: rgb(233, 233, 233);
  font-size: 18px;
  font-weight: 200;
  color: gray;
}

.indent {
  width: 1.5vh;
}

.subDataList {
  position: relative;
  margin-top: 1vh;
  // z-index: 51;
}

.subDataItem {
  display: inline-block;
  position: absolute;
  margin-top: 0.5vh;
  border-radius: 0.6vh;
  // padding-left: 1vh;
  z-index: 50;
  color: rgb(15, 15, 15);
  font-size: 1.6vh;
  font-weight: 700;
  background-repeat:no-repeat;
}

.dayDataList {
  display: inline-block;
  position: relative;
  margin-top: 1vh;
  margin-bottom: 2.5vh;
  padding: 0;
  z-index: 50;
  font-size: 1.5vh;
  font-weight: 400;
}

.dayListCircle {
  display: inline-block;
  margin: 0 1vh;
  width: 0.9vh;
  height: 0.9vh;
  border-radius: 50vh;
  opacity: 90%;
}

.passedDate {
  background-color: lightgrey;
}

.draggedDays {
  z-index: 100;
  // border-color: #BE3FD188;
  border-width: 1px;
  background-color: #BE3FD110;
  
}

// .pointerNone {
//   pointer-events: none;
// }

// .pointerInherit {
//   pointer-events: inherit;
// }
