.calendarDaysContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.calendarHeaderContainer {
  margin: 0;
  padding: 0;
  padding: 5px 0;
  color: white;
  background-color: grey;
  border: 1px solid lightgray;
  border-bottom: none;
  // min-height: 30px;
}