.calendarContainer {
  background-color: whitesmoke;
  // padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  .calendarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;

    .calendarTitle {
      display: flex;
      align-items: flex-end;
      max-width: 80%;
      // height: 40px;
      // overflow: hidden;
      // font-size: 30px;

      .showtitle {
        position: relative;
        display: inline-block;
        max-width: 100%;
        height: 40px;
        overflow: hidden;
        font-size: 30px;
      }
      .editTitle {
        display: inline-block;
        background-color: rgba(245, 245, 245, 0.5);
        padding: 1px;
        border: none;
        width: 500px;
        font-size: 30px;
      }
    }

    .calendarOption {
      display: flex;
      align-items: flex-end;
      height: 40px;
    }
  }

  .hashTagList {
    .hashTagInput {
      display: block;
      width: 150px;
      background-color: white;
      border-radius: 1vh;
      padding: 3px;
      margin-right: 5px;
      margin-bottom: 1vh;
  
      .inputTag {
        width: 120px;
        font-size: 13px;
        border: none;
      }
    }
  
    .hashTagItem {
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      color: white;
      margin: 1px 3px 1px 1px;
      padding: 5px 7px;
      border-radius: 1vh;
    }
  }

  .calendarHeaderButton {
    display: inline-block;
    margin: 0 0.5vh 0.2vh 0.5vh;
  }

  .xs-button {
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    color: white;
    padding: 5px 7px;
    border-radius: 1vh;
  }
}

.openCalendar {
  padding: 2vw;
  border-radius: 1vw;
  margin-bottom: 5vh;

  .headerContainer {
    min-height: 80px;
    padding-bottom: 3vh;
    margin-bottom: 3vh;
    border-bottom: 0.1vh #3f3f4880 solid;
  }

  .calendarNavi {
    display: flex;
    justify-content: center;
    height: 3vh;
    margin-bottom: 2.5vh;
  }
}

.closeCalendar {
  border: 0.1vh solid #3f3f4880;
  border-radius: 1vw;
  padding: 2vw;
  margin-bottom: 10px;

  // .headerContainer {
  // 
  // }
}
