.study {
    justify-content: space-around;
    background-color: lightsalmon;
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.studybox {
    width: 40%;
    border: 3px solid darkslateblue;
    height: 280px;
    display: inline-block;
    margin: 1rem;
}