.emptyStudyBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 5rem 3rem;
    border: 0.5px solid #3f3f4855;
    border-radius: 10px;
    color: #3f3f4877;
}

.emptyStudyBox a {
    color: #868e96;
    text-decoration: underline;
}

.emptyStudyBox a:hover {
    color: #212529;
}

.studyBox-title {
    font-size: 30px;
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
}

.studyBox {
    min-height: 40vh;
    display: flex;
    text-align: center;
    margin-bottom: 1rem;

    p {
        margin-top: 0.75rem;
        margin-left: 0.75rem;
        text-align: left;
    }
}

.studyBox-mobile {
    flex-direction: column;
    min-height: 10vh;
}

.studyBox-left {
    width: 50vw;
    border-radius: 5px;
    margin-right: 0.5rem;
    background-color: whitesmoke;
    padding: 0.5rem;
    
}

.studyBox-left-mobile {
    width: 100%;
    border-radius: 5px;
    margin-right: 0.5rem;
    background-color: whitesmoke;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.studyBox-right {
    width: 50vw;
    border-radius: 5px;
    background-color: white;
    padding: 0.5rem;
}

.studyBox-right-mobile {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

///// subschedule tag /////

.subScheduleTagBox{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 2rem;
}

.subScheduleTag {
    border-radius: 5px;
    padding: 1.5px 5px;
    margin: 0 1px;
    font-size: x-small;
    font-weight: bold;
}

///// today todo item /////

.todoItem-line {
    width: 100%;
    display: flex;
    align-items: center;
    height: 3vh;
}

.todoItem-circle {
    display: inline-block;
    margin: 0 1vh;
    width: 0.9vh;
    height: 0.9vh;
    border-radius: 50vh;
    opacity: 90%;
}

.todoItem-yesterday-title {
    width: 70%;
    text-align: left;
    font-size: small;
}

.todoItem-yesterday-progress {
    width: 30%;
}

.todoItem-today-title {
    width: 60%;
    text-align: left;
    font-size: small;
}

.todoItem-stopWatch {
    width: 10%;
}

.todoItem-today-progress {
    width: 30%;
}

.stopWatch {
    width: 2vh;
    height: 2vh;
}

.progress-bar {
    width: 100%;
    height: 2.5vh;
    border-radius: 2px;
}

progress { 
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: white;
    border: 0.4px solid #3f3f4855;
}

progress[value]::-webkit-progress-value {
    background-image: 
         -webkit-linear-gradient(top, 
                           rgba(255, 255, 255, .25), 
                           rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #8dab9f, #527062);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}  

.studyLog-example {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
        font-size: x-small;
        margin: 5px;
    }
}

.studyLog-div-example {
    width: 12px;
    height: 12px;
    margin: 0 1px;
  }