.study {
    justify-content: space-around;
    background-color: lightsalmon;
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.studybox {
    width: 40%;
    border: 3px solid darkslateblue;
    height: 280px;
    display: inline-block;
    margin: 1rem;
}

.grass {
    justify-content: space-around;
    text-align: center;
    border: 3px solid rgb(8, 94, 8);
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.subScheduleTag {
    margin: 1px;
    width: auto;
    // min-width: 5vw;
    // min-height: 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

.progressBar {
    display: inline-block;
    position: absolute;
    align-items: baseline;
    width: 20vw;
    height: 2vh;
    border-radius: 99vh;
    background-color: white;
    z-index: 100;
}