.studyBoxTitle {
    font-size: 30px;
    text-align: center;
    margin-top: 1rem;
}

.study {
    // justify-content: space-between;
    min-height: 200px;
    display: flex;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.leftStudyBox {
    width: 50%;
    float: left;
    border: 3px solid darkslateblue;
}

.rightStudybox {
    width: 50%;
    border: 3px solid darkslateblue;
    // float: right;
}

.dayDataItem {
    margin-top: 10px;
    margin-right: 2px;
    // // display: block;
    // list-style-type: none;
    // list-style-position: inside;
    // z-index: 50;
    // justify-self: center;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
  }  

.grass {
    justify-content: space-around;
    text-align: center;
    border: 3px solid rgb(8, 94, 8);
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.subScheduleTag {
    margin: 1px;
    width: auto;
    // min-width: 5vw;
    // min-height: 20px;
    border-radius: 5px;
    position: relative;
    // cursor: pointer;
    display: inline-block;
  }

.progressBar {
    display: inline-block;
    // position: absolute;
    // align-items: baseline;
    width: 100px;
    height: 2vh;
    background-color: white;
    z-index: 100;
    float: left;
    margin-top: 4px;

    .progressBar {
        margin-top: 0;
    }
}

.studyStopwatchItem {
    display: inline-block;
}

.stopWatch {
    display: inline-block;
}

.stopWatchButton {
    width: 15px;
    float: right;
}

.subTitle {
    // display: inline;
    float: left;
}

.stopWatchTimeProgress {
    // font-size: 1px;
    // display: inline-block;
    float: right;
    vertical-align: middle;
}

.achieveGoal {
    display: inline-block;
    margin-top: -10px;
    margin-left: 3px;
}
