.board-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
}

.board-template-mobile {
    flex-direction: column;
}

.board-title {
    font-weight: bold;
}

.board-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-item {
    border: 0.5px solid #3f3f4855;
    border-radius: 10px;
    padding: 1rem;
}