.footerBox {    
    position: relative;
    margin: 0 10vw;
    margin-top: 3rem;
    padding: 3vh 0;
    border-top: 0.5px solid #3f3f4855;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: small;
}